<!DOCTYPE html>
<html>
<head>
    <title>Instagram Image Downloader</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        div{
    bg-color:red;
    }
    </style>


</head>
<body>
    <div class="main" >
    <h1>Instagram Image Downloader</h1>
    <form action="{{ url_for('download') }}" method="post">
        <label for="url">Enter Instagram post URL:</label>
        <input type="text" id="url" name="url">
        <input type="submit" value="Download">
    </form>
        </div>
</body>
</html>
